.link {
    color: black;
    font-family: sans-serif;
    display: block;
    margin: 10px 5px;
    position: absolute;
    font-size: 15px;
    text-decoration: underline;
}
.link.github {
    right: 5px;
    top: 5px;
}
.link.projects {
    left: 5px;
    top: 5px;
}

.links {
    height: 30px;
}